@import "./../../../assets/mediaQueries.scss";

.container {
    margin-top: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    @include respond-to("sm") {
      border: none;
    }
    button {
      float: right;
    }
  }