<div class="container">
<form>
  <h4>Favorite Restaurants</h4>
  <div *ngFor="let restaurant of restaurants">
    <input type="checkbox" id="{{restaurant}}" name="{{restaurant}}">
    <label for="{{restaurant}}">{{restaurant}}</label>
  </div>

  <h4></h4>
  <div *ngFor="let country of countries">
    <input type="checkbox" id="{{country}}" name="{{country}}">
    <label for="{{country}}">{{country}}</label>
  </div>

  <h4>Food preferences</h4>
  <div *ngFor="let  foodType of food">
    <input type="checkbox" id="{{foodType}}" name="{{foodType}}">
    <label for="{{foodType}}">{{foodType}}</label>

  </div>
</form>
</div>
