<div class="container">
  <div class="top">
    <img src="{{ user.photoURL }}" alt="poza" />
    <p>{{ user.displayName }}</p>
  </div>
  <p>email: {{ user.email }}</p>
  <div class="lists">
    <p>Favourite restaurants</p>
    <ul class="favourite">
      <li *ngFor="let restaurant of user.prefRestaurants">{{ restaurant }}</li>
    </ul>
    <p>Favourite food</p>
    <ul class="favourite">
      <li *ngFor="let food of user.prefFood">{{ food }}</li>
    </ul>
    <p>Specific:</p>
    <ul class="favourite">
      <li *ngFor="let specific of user.prefSpecific">{{ specific }}</li>
    </ul>
  </div>
  <button class="btn btn-lg btn-success">Invite</button>
</div>
