<div class="container">
  <div class="top">
    <img src="./../../../assets/logo_transparent.png" alt="poza" />
    <p>Name</p>
  </div>
  <div class="lists">
    <p>Favourite restaurants</p>
    <ul class="favourite">
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
    <p>Favourite food</p>
    <ul class="favourite">
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
    <p>Specific:</p>
    <ul class="favourite">
        <li></li>
    </ul>
  </div>
  <button class="btn btn-lg btn-success">Invite</button>
</div>
